# .gitignore

# Linux gitignore
## Linux temporary files
*~
.fuse_hidden*
.nfs*
## Linux directory preferences
.directory
## Linux trash folders
.Trash-*

# Mac gitignore
## Mac attributes and general
.AppleDouble
.DS_Store
.LSOverride
## Mac thumbnails
._*
## Mac root volume files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.VolumeIcon.icns
## Mac trash folders
.Trashes
## Mac remote AFP access directories
.apdisk
.AppleDB
.AppleDesktop

# Windows gitignore
## Windows thumbnails and image caches
ehthumbs_vista.db
ehthumbs.db
Thumbs.db
## Windows folder config files
Desktop.ini
## Windows trash folders
$RECYCLE.BIN/
## Windows shortcuts
*.lnk
