# .gitignore

## Linux ignores

*~
.directory
.fuse_hidden*
.nfs*
.Trash-*

## MacOS ignores

._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

## Windows ignores

# *.lnk
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db
